# Dependency directories
node_modules/

# Temporary files
tmp

# System files
.DS_Store
Thumbs.db

# Lock files
package-lock.json

# IDE specific files (optional, depending on your editor)
.vscode/
.idea/
